*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  width:340px;
  height:350px;
  font-family: Arial, sans-serif;
}

.main-container{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:20px;
  position: relative;
}
.back-btn{
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;   
  gap: 4px;
  color: var(--primary-text);
  text-decoration: none;
  font-weight: bold;
  height: 30px;
}

.btn-wrapper{
  position:relative;
  display:flex;
  justify-content:center;
}

/* button */
.btn{
  width:150px;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  background:#0056b3;
  color:white;
  border-radius:6px;
  font-weight:bold;
  font-size:14px;
  cursor: pointer;
}

/* info icon bottom-right */
.info-icon{
  position:absolute;
  bottom:-8px;
  right:3px;
  width:20px;
  height:20px;
  background:white;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  border:1px solid #ffff;
}

/* popup above button */
.info-popup{
  position:absolute;
  width:210px;
  background:#222;
  color:white;
  padding:8px;
  font-size:12px;
  border-radius:6px;
  opacity:0;
  pointer-events:none;
  transition:0.2s;
}

/* AUTO popup above */
.info-popup.auto{
  bottom:60px;
  right:50;
}

/* MANUAL popup below */
.info-popup.manual{
  top:60px;
  left:50;
}
/* show popup */
.info-icon:hover + .info-popup{
  opacity:1;
}